.flexrow
  display: flex
  flex:
    direction: row
    wrap: wrap

.flexcol
  display: flex
  flex:
    direction: column
    wrap: nowrap

.grid-2cols
  display: grid
  grid-template-columns: auto auto
  column-gap: 1rem
  row-gap: .5rem

.wv-special-and-skills
  background-color: #fafafa
  display: flex
  align-items: flex-start
  justify-content: space-between
