@use "../constants.sass" as constants

.wasteland-ventures

  @for $i from 1 through 5
    h#{$i}
      border: none

  h5
    margin: 0 0 0.5rem

  @for $i from 1 through constants.$max-input-chars
    .size-#{$i}
      $width: #{$i}ch
      flex-basis: $width
      width: $width

    input.size-#{$i}
      $width: calc(#{$i}ch + 9px)
      flex-basis: $width
      width: $width

  @for $i from 2 through 6
    .grid-#{$i}cols
      display: grid
      grid-template-columns: repeat($i, auto)

  .detail-groups > :not(:last-child)
    border-bottom:
      color: constants.$shade-darker
      style: solid
      width: 1px
    margin-bottom: 5px
    padding-bottom: 5px

  .details > :not(:last-child)
    border-right:
      color: constants.$shade-darker
      style: solid
      width: 1px
    margin-right: 5px
    padding-right: 5px

  .flex-center
    align-items: center

  .flex-fixed
    flex-grow: 0
    flex-shrink: 0

  .spacing-bottom
    margin-bottom: constants.$spacing-distance

  .spacing-top
    margin-top: constants.$spacing-distance

  .no-margin
    margin: 0

  input[type=number]
    justify-self: right
    text-align: right

  .align-left
    justify-self: left
    text-align: left

  .align-right
    justify-self: right
    text-align: right

  .min-width
    min-width: min-content
    width: min-content

  .zero-width
    width: 0%

  input:invalid
    color: constants.$color-error

  label.contained-target-inline
    align-items: baseline
    display: flex
    justify-content: space-between
    white-space: nowrap

    > :first-child
      margin-left: 1ch

  .standard-grid-gaps
    column-gap: constants.$spacing-distance * 2
    row-gap: constants.$spacing-distance

  .standard-col-gaps
    column-gap: constants.$spacing-distance * 2

  .lighter-block
    background-color: constants.$shade-lighter
    border:
      color: constants.$shade-darker
      radius: constants.$border-radius
      style: solid
      width: 1px
    padding: constants.$block-padding

  $tab-border-width: 1px

  .tabs
    .item
      border:
        color: constants.$shade-darker
        style: solid
        width: $tab-border-width
        top:
          left-radius: constants.$border-radius
          right-radius: constants.$border-radius
        left-width: 0
      flex: 1
      padding: 5px

    .item:first-child
      border-left-width: $tab-border-width

    .item.active
      border-bottom-width: 0

  .content
    border:
      color: constants.$shade-darker
      style: solid
      width: $tab-border-width
      top-width: 0

    .tab
      padding: constants.$spacing-distance

  button.control
    height: 30px
    margin:
      left: 0
      right: 0
    max-width: 30px
    width: 30px
