<form>
  <label class="contained-target-inline">
    {{#if description}}
      {{description}}
    {{else}}
      {{localize "wv.labels.rolls.genericModifierDescription"}}
    {{/if}}
    <input class="size-2" name="modifier" type="number" value="0" />
  </label>
  <button>{{localize "wv.labels.rolls.roll"}}</button>
</form>
