<form>
  <label class="contained-target-inline">
    {{label}}
    <input required name="value" type="string" value="{{default}}" />
  </label>
  <button>{{localize "wv.system.actions.submit"}}</button>
</form>