$border-radius: 3px
$input-height: 26px
$max-input-chars: 5
$shade-lighter: #fff5
$shade-darker: #0005
$spacing-distance: 0.5rem

.wasteland-ventures

  @for $i from 1 through $max-input-chars
    .size-#{$i}
      $width: #{$i}ch
      flex-basis: $width
      width: $width

    input.size-#{$i}
      $width: calc(#{$i}ch + 9px)
      flex-basis: $width
      width: $width

  @for $i from 2 through 6
    .grid-#{$i}cols
      display: grid
      grid-template-columns: repeat(#{$i}, auto)

  .flex-center
    align-items: center

  .flex-fixed
    flex-grow: 0
    flex-shrink: 0

  input[type=number]
    justify-self: right
    text-align: right

  input:invalid
    color: red

  label.contained-target-inline
    align-items: baseline
    display: flex
    justify-content: space-between
    white-space: nowrap

    > :nth-child(1)
      margin:
        left: 1ch

  .standard-grid-gaps
    column-gap: 1rem
    row-gap: .5rem

  $tab-border-width: 1px

  .tabs
    .item
      border:
        color: $shade-darker
        style: solid
        width: $tab-border-width
        top:
          left-radius: $border-radius
          right-radius: $border-radius
        left-width: 0
      padding: 5px

    .item:first-child
      border-left-width: $tab-border-width

    .item.active
      border-bottom-width: 0

  .content
    border:
      color: $shade-darker
      style: solid
      width: $tab-border-width
      top-width: 0

    .tab
      padding: 0.5rem
