.grid-2cols
  display: grid
  grid-template-columns: auto auto

.flex-baseline
  align-items: baseline

.flex-fixed
  flex-grow: 0
  flex-shrink: 0

.standard-padding
  padding: 5px

.standard-grid-gaps
  column-gap: 1rem
  row-gap: .5rem
