.resource-label
  padding-right: 1ch

.resource-display
  flex-basis: min-content
  justify:
    self: right
  text-align: right
  width: min-content

@for $i from 2 through 5
  input.resource-input-#{$i}
    $width: calc(#{$i}ch + 9px)
    flex-basis: $width
    justify:
      self: right
    text-align: right
    width: $width
