@use "./common.sass" as common

.wasteland-ventures

  .resource-pair
    align-items: center
    display: flex
    height: common.$input-height
    justify-content: space-between

    > .resource-label
      margin:
        right: 1ch

    > .resource-display
      align-items: baseline
      display: flex
      flex-wrap: nowrap
      white-space: nowrap

      > input
        margin:
          right: 1ch

  @for $i from 2 through 5
    input.resource-input-#{$i}
      $width: calc(#{$i}ch + 9px)
      flex-basis: $width
      justify-self: right
      text-align: right
      width: $width
