@use "../../constants.sass" as constants

.wasteland-ventures.document-sheet.actor-sheet

  form
    overflow-y: hidden

  .equipment-slot

    .equipment-slot-placeholder
      filter: opacity(0.5)

    .equipment-slot-target
      align-items: baseline
      display: none
      flex-wrap: nowrap
      justify-content: center
      text-align: center

    .ready-item-cost
      display: none

    .ready-item-cost.from-quick-slot
      margin-left: constants.$spacing-distance
      text-align: center

    &.not-slotable
      background-color: constants.$shade-darker

    &.slotable

      .equipment-slot-status
        display: none

      .equipment-slot-target
        display: flex

      &.in-combat

        .ready-item-cost.direct
          display: block

    &.quick-slotable.in-combat

      .ready-item-cost.from-quick-slot
        display: block

    &.weapon-slotable.in-combat

      .ready-item-cost.direct
        display: none

      .ready-item-cost.from-weapon-slot
        display: block
