@use "../../../constants.sass" as constants

.wasteland-ventures.document-sheet.actor-sheet

  .document-info
    margin-bottom: constants.$spacing-distance

    .leveling-and-karma
      border:
        bottom:
          color: constants.$shade-darker
          style: solid
          width: 1px
      margin-bottom: constants.$spacing-distance
      padding-bottom: constants.$spacing-distance
