@use "../common.sass" as common

.wasteland-ventures.document-sheet.actor-sheet

  .sheet-header

    .document-info

      .header-fields

        .leveling-and-karma
          border:
            bottom:
              color: common.$shade-darker
              style: solid
              width: 1px
          justify-content: space-between
          margin:
            bottom: common.$spacing-distance
          padding:
            bottom: common.$spacing-distance

          > *
            margin-right: common.$spacing-distance

          > *:last-child
            margin-right: 0

        .main-resources
          align-items: center
          justify-content: space-between

          > *
            margin-right: common.$spacing-distance

          > *:last-child
            margin-right: 0

  .special-and-skills
    display: flex
    align-items: flex-start
    justify-content: space-between

  .magic

    .thaum-special
      display: inline flex

  .background

    > section
      margin:
        top: common.$spacing-distance

    > section:first-child
      margin:
        top: 0
