.wasteland-ventures.actor-sheet
  .level
    background:
      color: #ff0

  .health
    background:
      color: #f00

  .action-points
    background:
      color: #af0

  .criticals
    background:
      color: #c00

  .initiative
    background:
      color: #acf

  .radiation
    background:
      color: #0f0

  .resistances
    background:
      color: #aaa

  .special-and-skills
    background:
      color: #fafafa
    display: flex
    align-items: flex-start
    justify-content: space-between
