$spacing-distance: 0.5rem

.wasteland-ventures.actor-sheet
  .sheet-header

    .profile-img
      max-height: 200px

    .actor-info
      align-items: start
      margin:
        left: $spacing-distance

      .char-name
        padding:
          bottom: $spacing-distance

        > input
          height: unset
          width: 100%

  nav.tabs
    margin:
      top: $spacing-distance

  .level
    background-color: #ff0

  .health
    background-color: #f00

  .action-points
    background-color: #af0

  .strain
    background-color: #00f

  .criticals
    background-color: #c00

  .initiative
    background-color: #acf

  .radiation
    background-color: #0f0

  .resistances
    background-color: #aaa

  .special-and-skills
    background-color: #fafafa
    display: flex
    align-items: flex-start
    justify-content: space-between

  .background

    > section
      margin:
        top: $spacing-distance

    > section:first-child
      margin:
        top: 0
