<header class="sheet-header flexrow flex-fixed">
  <img class="document-img item-img flex-fixed" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
  <div class="document-info">
    <h1 class="document-name"><input name="name" type="text" value="{{data.name}}" placeholder="{{localize 'wv.labels.placeholders.documentName'}}" /></h1>
  </div>
</header>
