<section>
  <h3>{{localize "wv.rules.equipment.slots.names.readiedItem"}}</h3>
  {{~#if (eq sheet.equipment.readiedItem.type "weapon")~}}
{{>(get . "sheet.parts.weaponSlot") weapon=sheet.equipment.readiedItem readied=true}}
  {{~/if~}}
</section>
<section>
  <h3>{{localize "wv.rules.equipment.slots.weaponSlot.plural"}}</h3>
  <div class="flexrow">
{{>(get . "sheet.parts.weaponSlot") weapon=sheet.equipment.weaponSlots.[0] readied=false}}
{{>(get . "sheet.parts.weaponSlot") weapon=sheet.equipment.weaponSlots.[1] readied=false}}
  </div>
</section>
