<label class="contained-target-inline thaum-special">
  {{~localize "wv.system.thaumSpecial"~}}
  <select name="data.magic.thaumSpecial">
    {{selectOptions sheet.magic.thaumSpecials selected=data.data.magic.thaumSpecial}}
  </select>
</label>
