@use "../common.sass" as common

.wasteland-ventures.document-sheet.actor-sheet

  .sheet-header

    .document-info

      .header-fields

        .leveling-and-karma
          border:
            bottom:
              color: common.$shade-darker
              style: solid
              width: 1px
          justify-content: space-between
          margin-bottom: common.$spacing-distance
          padding-bottom: common.$spacing-distance

          > :not(:last-child)
            margin-right: common.$spacing-distance

        .main-resources
          align-items: center
          justify-content: space-between

          > :not(:last-child)
            margin-right: common.$spacing-distance

  .stats
    display: flex
    justify-content: space-between

    > :first-child
      display: flex
      flex-direction: column
      justify-content: space-between

  .magic

    .thaum-special
      display: inline flex

  .background

    > :first-child
      display: grid
      grid-column-gap: common.$spacing-distance * 2
      grid-row-gap: common.$spacing-distance
      grid-template-columns: repeat(auto-fit, 30ch)
      justify-content: space-between

    > :not(:first-child)
      margin-top: common.$spacing-distance
