@use "../../../../constants.sass" as constants

.wasteland-ventures.document-sheet.actor-sheet .equipment

  &.active
    display: flex
    flex-direction: column
    gap: constants.$spacing-distance * 2

  .apparel-slot
    min-width: 200px
