@use "../../../../constants.sass" as constants

.wasteland-ventures.document-sheet.actor-sheet .inventory

  .equipment-slots
    border:
      right:
        color: constants.$shade-darker
        style: solid
        width: 1px
    flex-basis: 150px
    margin-right: constants.$spacing-distance
    padding-right: constants.$spacing-distance

    .equipment-slot
      box-sizing: content-box
      display: flex
      flex-direction: column
      justify-content: space-between
      text-align: center

  .controls-and-caps
    justify-content: space-between
