.wasteland-ventures.document-sheet.actor-sheet .stats.active
  display: flex
  justify-content: space-between

  > :first-child
    display: flex
    flex-direction: column
    justify-content: space-between
